In [32]:
import pandas as pd

In [33]:
import numpy as np

In [34]:
college = pd.read_csv("college.csv")

In [35]:
college.sample(random_state=42)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3649,Career Point College,San Antonio,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,1,0.9172,0.9172,0.697,20700,14977

In [36]:
college.shape

(7535, 27)

In [37]:
college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7535 entries, 0 to 7534
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   INSTNM              7535 non-null   object
 1   CITY                7535 non-null   object
 2   STABBR              7535 non-null   object
 3   HBCU                7164 non-null   float64
 4   MENONLY             7164 non-null   float64
 5   WOMENONLY           7164 non-null   float64
 6   RELAFFIL            7535 non-null   int64
 7   SATVRMID            1185 non-null   float64
 8   SATMTMID            1196 non-null   float64
 9   DISTANCEONLY        7164 non-null   float64
 10  UGDS                6874 non-null   float64
 11  UGDS_WHITE          6874 non-null   float64
 12  UGDS_BLACK          6874 non-null   float64
 13  UGDS_HISP           6874 non-null   float64
 14  UGDS_ASIAN          6874 non-null   float64
 15  UGDS_AIAN           6874 non-null   float64
 16  UGDS_NHPI           6874 non-null   float64
 17  UGDS_2MOR           6874 non-null   float64
 18  UGDS_NRA            6874 non-null   float64
 19  UGDS_UNKN           6874 non-null   float64
 20  PPTUG_EF            6853 non-null   float64
 21  CURROPER            7535 non-null   int64
 22  PCTPELL             6849 non-null   float64
 23  PCTFLOAN            6849 non-null   float64
 24  UG25ABV             6718 non-null   float64
 25  MD_EARN_WNE_P10     6413 non-null   object
 26  GRAD_DEBT_MDN_SUPP  7503 non-null   object
dtypes: float64(20), int64(2), object(5)
memory usage: 1.6+ MB

In [38]:
college.describe(include=[np.number]).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.0000
CURROPER,7535.0,0.923291,0.266146,0.0,1.000000,1.00000,1.000000,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.0000

In [39]:
college.describe(
    include=[np.number],
    percentiles=[
        0.01,
        0.05,
        0.10,
        0.25,
        0.5,
        0.75,
        0.9,
        0.95,
        0.99
    ]
).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,95%,99%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,1.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,1.00000,1.000000,1.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,390.000000,430.000000,447.40000,475.000000,510.00000,555.000000,605.00000,665.000000,730.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,395.000000,430.000000,453.00000,482.000000,520.00000,565.000000,630.00000,685.000000,745.250000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,14.000000,31.650000,49.00000,117.000000,412.50000,1929.500000,6512.30000,11858.050000,26015.290000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.000000,0.013265,0.06879,0.267500,0.55570,0.747875,0.86297,0.927315,1.000000,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.000000,0.000000,0.00753,0.036125,0.10005,0.257700,0.51571,0.726715,0.961467,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.000000,0.000000,0.00573,0.027600,0.07140,0.198875,0.44314,0.666700,1.000000,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.000000,0.000000,0.00000,0.002500,0.01290,0.032700,0.07840,0.131775,0.346429,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.000000,0.00000,0.000000,0.00260,0.007300,0.01837,0.036410,0.209326,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.002500,0.00800,0.015200,0.050508,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.000000,0.00000,0.000000,0.01750,0.033900,0.05651,0.076900,0.133154,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.011700,0.04250,0.078135,0.236989,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.000000,0.00000,0.000000,0.01430,0.045400,0.10801,0.200575,0.496581,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.000000,0.00000,0.000000,0.15040,0.376900,0.60410,0.710620,0.946724,1.0000
CURROPER,7535.0,0.923291,0.266146,0.0,0.000000,0.000000,1.00000,1.000000,1.00000,1.000000,1.00000,1.000000,1.000000,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.054976,0.170000,0.23656,0.357800,0.52150,0.712900,0.83330,0.896360,0.993908,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.000000,0.000000,0.00000,0.332900,0.58330,0.745000,0.84752,0.897920,0.986368,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.002500,0.037400,0.08990,0.241500,0.40075,0.572275,0.72666,0.800000,0.917383,1.0000

In [40]:
pd.read_csv("college_data_dictionary.csv")

           column_name                                        description
0               INSTNM                                   Institution Name
1                 CITY                                      City Location
2               STABBR                                 State Abbreviation
3                 HBCU           Historically Black College or University
4              MENONLY                                       0/1 Men Only
5            WOMENONLY                                     0/1 Women only
6             RELAFFIL                          0/1 Religious Affiliation
7             SATVRMID                                  SAT Verbal Median
8             SATMTMID                                    SAT Math Median
9         DISTANCEONLY                            Distance Education Only
10                UGDS                           Undergraduate Enrollment
11          UGDS_WHITE                            Percent Undergrad White
12          UGDS_BLACK                            Percent Undergrad Black
13           UGDS_HISP                         Percent Undergrad Hispanic
14          UGDS_ASIAN                            Percent Undergrad Asian
15           UGDS_AIAN   Percent Undergrad American Indian/Alaskan Native
16           UGDS_NHPI  Percent Undergrad Native Hawaiian/Pacific Isla...
17           UGDS_2MOR                  Percent Undergrad 2 or more races
18            UGDS_NRA              Percent Undergrad non-resident aliens
19           UGDS_UNKN                     Percent Undergrad race unknown
20            PPTUG_EF                         Percent Students part-time
21            CURROPER                            0/1 Currently Operating
22             PCTPELL                   Percent Students with Pell grant
23            PCTFLOAN                 Percent Students with federal loan
24             UG25ABV                     Percent Students Older than 25
25     MD_EARN_WNE_P10          Median Earnings 10 years after enrollment
26  GRAD_DEBT_MDN_SUPP                          Median debt of completers

In [41]:
college = pd.read_csv("college.csv")

In [42]:
different_cols = [
    "RELAFFIL",
    "SATMTMID",
    "INSTNM",
    "STABBR"
]

In [43]:
col2 = college.loc[:, different_cols]

In [44]:
col2.head()

   RELAFFIL  SATMTMID                               INSTNM STABBR
0         0     420.0             Alabama A & M University     AL
1         0     565.0  University of Alabama at Birmingham     AL
2         1       NaN                   Amridge University     AL
3         0     590.0  University of Alabama in Huntsville     AL
4         0     430.0             Alabama State University     AL

In [45]:
col2.dtypes

RELAFFIL      int64
SATMTMID    float64
INSTNM       object
STABBR       object
dtype: object

In [46]:
original_mem = col2.memory_usage(deep=True)

In [47]:
original_mem

Index          128
RELAFFIL     60280
SATMTMID     60280
INSTNM      660240
STABBR      444565
dtype: int64

In [48]:
col2["RELAFFIL"] = col2["RELAFFIL"].astype(np.int8)

In [49]:
col2.dtypes

RELAFFIL       int8
SATMTMID    float64
INSTNM       object
STABBR       object
dtype: object

In [50]:
col2.memory_usage(deep=True)

Index          128
RELAFFIL      7535
SATMTMID     60280
INSTNM      660240
STABBR      444565
dtype: int64

In [51]:
col2.select_dtypes(include=["object"]).nunique()

INSTNM    7535
STABBR      59
dtype: int64

In [52]:
col2["STABBR"] = col2["STABBR"].astype("category")

In [53]:
col2.dtypes

RELAFFIL        int8
SATMTMID     float64
INSTNM        object
STABBR      category
dtype: object

In [54]:
new_mem = col2.memory_usage(deep=True)

In [55]:
new_mem

Index          128
RELAFFIL      7535
SATMTMID     60280
INSTNM      660699
STABBR       13120
dtype: int64

In [56]:
new_mem / original_mem

Index       1.000000
RELAFFIL    0.125000
SATMTMID    1.000000
INSTNM      1.000695
STABBR      0.029512
dtype: float64

In [57]:
college.loc[0, "CURROPER"] = 10000000

In [58]:
college.loc[0, "INSTNM"] = (
    college.loc[0, "INSTNM"] + "a"
)

In [59]:
college[["CURROPER", "INSTNM"]].memory_usage(deep=True)

Index          128
CURROPER     60280
INSTNM      660700
dtype: int64

In [60]:
college["MENONLY"].dtype

dtype('float64')

In [65]:
college["MENONLY"].astype(np.int8)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [67]:
college.describe(include=['int64', 'float64']).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.000000e+00
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.000000e+00
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.000000e+00
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.000000e+00
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,7.650000e+02
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,7.850000e+02
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.000000e+00
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,1.515580e+05
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.000000e+00
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.000000e+00
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.000000e+00
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,9.727000e-01
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.000000e+00
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,9.983000e-01
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,5.333000e-01
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,9.286000e-01
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,9.027000e-01
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.000000e+00
CURROPER,7535.0,1328.063172,115201.552429,0.0,1.000000,1.00000,1.000000,1.000000e+07
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.000000e+00
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.000000e+00
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.000000e+00

In [68]:
college.describe(include=[np.int64, np.float64]).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.000000e+00
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.000000e+00
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.000000e+00
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.000000e+00
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,7.650000e+02
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,7.850000e+02
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.000000e+00
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,1.515580e+05
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.000000e+00
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.000000e+00
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.000000e+00
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,9.727000e-01
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.000000e+00
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,9.983000e-01
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,5.333000e-01
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,9.286000e-01
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,9.027000e-01
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.000000e+00
CURROPER,7535.0,1328.063172,115201.552429,0.0,1.000000,1.00000,1.000000,1.000000e+07
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.000000e+00
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.000000e+00
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.000000e+00

In [69]:
college.describe(include=['int', 'float']).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.000000e+00
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.000000e+00
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.000000e+00
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.000000e+00
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,7.650000e+02
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,7.850000e+02
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.000000e+00
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,1.515580e+05
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.000000e+00
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.000000e+00
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.000000e+00
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,9.727000e-01
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.000000e+00
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,9.983000e-01
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,5.333000e-01
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,9.286000e-01
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,9.027000e-01
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.000000e+00
CURROPER,7535.0,1328.063172,115201.552429,0.0,1.000000,1.00000,1.000000,1.000000e+07
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.000000e+00
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.000000e+00
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.000000e+00

In [70]:
college.describe(include=['number']).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.000000e+00
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.000000e+00
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.000000e+00
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.000000e+00
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,7.650000e+02
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,7.850000e+02
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.000000e+00
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,1.515580e+05
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.000000e+00
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.000000e+00
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.000000e+00
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,9.727000e-01
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.000000e+00
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,9.983000e-01
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,5.333000e-01
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,9.286000e-01
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,9.027000e-01
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.000000e+00
CURROPER,7535.0,1328.063172,115201.552429,0.0,1.000000,1.00000,1.000000,1.000000e+07
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.000000e+00
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.000000e+00
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.000000e+00

In [71]:
college.assign(
    MENONLY=college["MENONLY"].astype("float16"),
    RELAFFIL=college["RELAFFIL"].astype("int8")
)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M Universitya,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,10000000,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7530,SAE Institute of Technology San Francisco,Emeryville,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500
7531,Rasmussen College - Overland Park,Overland Park,KS,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,21163
7532,National Personal Training Institute of Cleveland,Highland Heights,OH,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,6333
7533,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
7534,Excel Learning Center-San Antonio South,San Antonio,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,12125

In [72]:
college.index = pd.Int64Index(college.index)

In [73]:
college.index.memory_usage()

60280

In [74]:
movie = pd.read_csv("movie.csv")

In [75]:
movie2 = movie[["movie_title", "imdb_score", "budget"]]

In [76]:
movie2.head()

                                  movie_title  imdb_score       budget
0                                      Avatar         7.9  237000000.0
1    Pirates of the Caribbean: At World's End         7.1  300000000.0
2                                     Spectre         6.8  245000000.0
3                       The Dark Knight Rises         8.5  250000000.0
4  Star Wars: Episode VII - The Force Awakens         7.1          NaN

In [77]:
movie2.nlargest(100, "imdb_score").head()

                   movie_title  imdb_score      budget
2725          Towering Inferno         9.5         NaN
1920  The Shawshank Redemption         9.3  25000000.0
3402             The Godfather         9.2   6000000.0
2779                   Dekalog         9.1         NaN
4312      Kickboxer: Vengeance         9.1  17000000.0

In [78]:
(
    movie2.nlargest(100, "imdb_score").nsmallest(5, "budget")
)

               movie_title  imdb_score    budget
4804        Butterfly Girl         8.7  180000.0
4801    Children of Heaven         8.5  180000.0
4706          12 Angry Men         8.9  350000.0
4550          A Separation         8.4  500000.0
4636  The Other Dream Team         8.4  500000.0

In [79]:
movie = pd.read_csv("movie.csv")

In [80]:
movie[["movie_title", "title_year", "imdb_score"]].sort_values("title_year", ascending=True)

                                           movie_title  title_year  imdb_score
4695  Intolerance: Love's Struggle Throughout the Ages      1916.0         8.0
4833                    Over the Hill to the Poorhouse      1920.0         4.8
4767                                    The Big Parade      1925.0         8.3
2694                                        Metropolis      1927.0         8.3
4697                               The Broadway Melody      1929.0         6.3
...                                                ...         ...         ...
4683                                            Heroes         NaN         7.7
4688                                       Home Movies         NaN         8.2
4704                                        Revolution         NaN         6.7
4752                                      Happy Valley         NaN         8.5
4912                                     The Following         NaN         7.5

[4916 rows x 3 columns]

In [81]:
movie[["movie_title", "title_year", "imdb_score"]].sort_values(["title_year", "imdb_score"], ascending=False)

                      movie_title  title_year  imdb_score
4312         Kickboxer: Vengeance      2016.0         9.1
4277  A Beginner's Guide to Snuff      2016.0         8.7
3798                      Airlift      2016.0         8.5
27     Captain America: Civil War      2016.0         8.2
98            Godzilla Resurgence      2016.0         8.2
...                           ...         ...         ...
1391                    Rush Hour         NaN         5.8
4031                     Creature         NaN         5.0
2165              Meet the Browns         NaN         3.5
3246   The Bold and the Beautiful         NaN         3.5
2119                 The Bachelor         NaN         2.9

[4916 rows x 3 columns]

In [82]:
movie[["movie_title", "title_year", "imdb_score"]].sort_values(["title_year", "imdb_score"], ascending=False).drop_duplicates(subset="title_year")

                                           movie_title  title_year  imdb_score
4312                              Kickboxer: Vengeance      2016.0         9.1
3745                                   Running Forever      2015.0         8.6
4369                            Queen of the Mountains      2014.0         8.7
3935           Batman: The Dark Knight Returns, Part 2      2013.0         8.4
3                                The Dark Knight Rises      2012.0         8.5
...                                                ...         ...         ...
2694                                        Metropolis      1927.0         8.3
4767                                    The Big Parade      1925.0         8.3
4833                    Over the Hill to the Poorhouse      1920.0         4.8
4695  Intolerance: Love's Struggle Throughout the Ages      1916.0         8.0
2725                                  Towering Inferno         NaN         9.5

[92 rows x 3 columns]

In [83]:
movie[["movie_title", "title_year", "imdb_score"]].groupby("title_year", as_index=False).apply(lambda df:df.sort_values("imdb_score", ascending=False).head(1)).droplevel(0).sort_values("title_year", ascending=False)

                                           movie_title  title_year  imdb_score
4312                              Kickboxer: Vengeance      2016.0         9.1
3745                                   Running Forever      2015.0         8.6
4369                            Queen of the Mountains      2014.0         8.7
3935           Batman: The Dark Knight Returns, Part 2      2013.0         8.4
3                                The Dark Knight Rises      2012.0         8.5
...                                                ...         ...         ...
4555                                     Pandora's Box      1929.0         8.0
2694                                        Metropolis      1927.0         8.3
4767                                    The Big Parade      1925.0         8.3
4833                    Over the Hill to the Poorhouse      1920.0         4.8
4695  Intolerance: Love's Struggle Throughout the Ages      1916.0         8.0

[91 rows x 3 columns]

In [84]:
movie[["movie_title", "title_year", "content_rating", "budget"]].sort_values(["title_year", "content_rating", "budget"], ascending=[False, False, True]).drop_duplicates(subset=["title_year", "content_rating"])

                         movie_title  title_year content_rating      budget
4026                       Compadres      2016.0              R   3000000.0
4658             Fight to the Finish      2016.0          PG-13    150000.0
4661                      Rodeo Girl      2016.0             PG    500000.0
3252                     The Wailing      2016.0      Not Rated         NaN
4659  Alleluia! The Devil's Carnival      2016.0            NaN    500000.0
...                              ...         ...            ...         ...
2558                      Lilyhammer         NaN          TV-MA  34000000.0
807       Sabrina, the Teenage Witch         NaN           TV-G   3000000.0
848                    Stargate SG-1         NaN          TV-14   1400000.0
2436                          Carlos         NaN      Not Rated         NaN
2119                    The Bachelor         NaN            NaN   3000000.0

[359 rows x 4 columns]

In [85]:
movie = pd.read_csv("movie.csv")

In [86]:
movie[["movie_title", "imdb_score", "budget"]].nlargest(100, "imdb_score").nsmallest(5, "budget")

               movie_title  imdb_score    budget
4804        Butterfly Girl         8.7  180000.0
4801    Children of Heaven         8.5  180000.0
4706          12 Angry Men         8.9  350000.0
4550          A Separation         8.4  500000.0
4636  The Other Dream Team         8.4  500000.0

In [87]:
movie[["movie_title", "imdb_score", "budget"]].sort_values("imdb_score", ascending=False).head(100)

                                  movie_title  imdb_score      budget
2725                         Towering Inferno         9.5         NaN
1920                 The Shawshank Redemption         9.3  25000000.0
3402                            The Godfather         9.2   6000000.0
2779                                  Dekalog         9.1         NaN
4312                     Kickboxer: Vengeance         9.1  17000000.0
...                                       ...         ...         ...
3799                     Anne of Green Gables         8.4         NaN
3777                      Requiem for a Dream         8.4   4500000.0
3935  Batman: The Dark Knight Returns, Part 2         8.4   3500000.0
4636                     The Other Dream Team         8.4    500000.0
2455                                   Aliens         8.4  18500000.0

[100 rows x 3 columns]

In [88]:
movie[["movie_title", "imdb_score", "budget"]].sort_values("imdb_score", ascending=False).head(100).sort_values("budget", ascending=True).head(5)

                    movie_title  imdb_score    budget
4815  A Charlie Brown Christmas         8.4  150000.0
4801         Children of Heaven         8.5  180000.0
4804             Butterfly Girl         8.7  180000.0
4706               12 Angry Men         8.9  350000.0
4636       The Other Dream Team         8.4  500000.0

In [89]:
movie[["movie_title", "imdb_score", "budget"]].nlargest(100, "imdb_score").tail()

                movie_title  imdb_score     budget
4023                 Oldboy         8.4  3000000.0
4163  To Kill a Mockingbird         8.4  2000000.0
4395         Reservoir Dogs         8.4  1200000.0
4550           A Separation         8.4   500000.0
4636   The Other Dream Team         8.4   500000.0

In [90]:
movie[["movie_title", "imdb_score", "budget"]].sort_values("imdb_score", ascending=False, kind='mergesort').head(100).tail()

                movie_title  imdb_score     budget
4023                 Oldboy         8.4  3000000.0
4163  To Kill a Mockingbird         8.4  2000000.0
4395         Reservoir Dogs         8.4  1200000.0
4550           A Separation         8.4   500000.0
4636   The Other Dream Team         8.4   500000.0

In [91]:
import datetime

In [92]:
import pandas_datareader.data as web

In [93]:
import requests_cache

In [94]:
session = requests_cache.CachedSession(
    cache_name="cache",
    backend="sqlite",
    expire_after=datetime.timedelta(days=90)
)

In [95]:
tsla = web.DataReader(
    "tsla",
    data_source="yahoo",
    start="2017-1-1",
    session=session
)

In [97]:
tsla.head(8)

                 High        Low       Open      Close      Volume  Adj Close
Date
2017-01-03  44.066002  42.192001  42.972000  43.397999  29616500.0  43.397999
2017-01-04  45.599998  42.862000  42.950001  45.397999  56067500.0  45.397999
2017-01-05  45.495998  44.389999  45.284000  45.349998  29558500.0  45.349998
2017-01-06  46.062000  45.090000  45.386002  45.801998  27639500.0  45.801998
2017-01-09  46.383999  45.599998  45.793999  46.256001  19897500.0  46.256001
2017-01-10  46.400002  45.377998  46.400002  45.973999  18300000.0  45.973999
2017-01-11  45.995998  45.335999  45.813999  45.945999  18254000.0  45.945999
2017-01-12  46.139999  45.116001  45.812000  45.917999  18951000.0  45.917999

In [98]:
tsla_close = tsla["Close"]

In [99]:
tsla_cummax = tsla_close.cummax()

In [101]:
tsla_cummax.head()

Date
2017-01-03    43.397999
2017-01-04    45.397999
2017-01-05    45.397999
2017-01-06    45.801998
2017-01-09    46.256001
Name: Close, dtype: float64

In [102]:
tsla["Close"].cummax().mul(0.9).head()

Date
2017-01-03    39.058199
2017-01-04    40.858199
2017-01-05    40.858199
2017-01-06    41.221798
2017-01-09    41.630400
Name: Close, dtype: float64